/* BACKGROUND IMAGE */
body {
  background-image: url(imgs/BACKGROUND.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

/* ORANGE TOP LINE */
.Line_Top {
  background-color: #ff9500;
  width: 100%;
  height: 7px;
  margin: 0;
}

/* NAV-BAR */
.navbar {
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 0 0 10px 10px;
}

.navbar .Logo {
  height: 30px;
}

.navbar-toggler::before,
.navbar-toggler::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.navbar-toggler {
  position: relative;
  background-color: transparent;
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 30px;
  border: #ff9500 solid 0.2px;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  color: white;
  font-size: 15px;
}

/* CENTER FRAME */
.FRAME_ {
  margin-top: 15%;
  max-width: 750px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 0.5rem;
}

/* ORANGE BAR - FRAME */
.Line_Frame {
  height: 10px;
  background-color: orange;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* TITLE */
.Title {
  max-width: 80%;
  font-size: 60px;
}

/* DESCRIPTION */
.Description {
  padding-right: 5%;
  opacity: 0.8;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
}

/* BOTTOM SHADOW */
.Shadow div {
  position: relative;
  width: 100%;
  height: 20vh;
  max-height: 21vh;
  margin-top: -4vh;
  overflow: hidden;
}

.Shadow div img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: top center;
}
